.burger-button__image {
  width: 22px;
  height: 16px;
  background-image: url(../../images/burger-menu.svg);
  background-color: unset;
  background-repeat: no-repeat;
  border: none;
  display: none;
    padding: 0;
}

@media screen and (max-width: 1410px) {
  .burger-button__image {
    display: block;
  }
}
