.product-card-list {
  width: 733px;
  height: 290px;
  overflow: scroll;
  overflow-x: hidden;
}

.product-card {
  display: grid;
  grid-template-columns: 100px 2fr 1fr 1fr; /* Adjust the column widths as needed */
  align-items: center;
  background: var(--White_bg, #f8f8f8);
  padding: 20px 0 24px 0;
  border-bottom: 1px solid var(--grey_light, #c8cac8);
}

.product-card__img {
  width: 100%;
  height: 100px;
}

.product-card__text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 16px 0 32px; /* Adjust the margins as needed */
  word-wrap: break-word;
}

.product-card__title {
  font-family: Ubuntu;
  color: var(--Black_text, #0f100f);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  word-wrap: break-word;
}

.product-card__text {
  font-family: Ubuntu;
  color: var(--Black_text, #0f100f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.product-card__count-container {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-left: auto;
}

.product-card__button {
    width: 24px;
    height: 32px;
    flex-shrink: 0;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.product-card__count {
  border-radius: var(--Border-Radius-rounded-none, 0px);
  border: 1px solid var(--grey_light, #c8cac8);
  margin: 0;
  padding: 5.81px 10.55px;
}

.product-card__price {
  color: var(--Black_text, #0f100f);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 13.5px 0 0 0;
}

/* .product-card-list {
    width: 733px;
    height: 290px;
    overflow: scroll;
    overflow-x: hidden;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--White_bg, #f8f8f8);
    padding: 20px 0 24px 0;
    border-bottom: 1px solid var(--grey_light, #c8cac8);
}

.product-card__img {
    width: 100px;
    height: 100px;
}

.product-card__text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 79.5px 0 32px;
}

.product-card__title {
    font-family: Ubuntu;
    color: var(--Black_text, #0f100f);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.product-card__text {
    font-family: Ubuntu;
    color: var(--Black_text, #0f100f);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.product-card__button {
    width: 24px;
    height: 32px;
    flex-shrink: 0;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.product-card__count-container {
    display: flex;
    align-items: center;
    height: 34px;
    gap: 13px;
    margin: 0 79.5px 0 0;
}

.product-card__count {
    border-radius: var(--Border-Radius-rounded-none, 0px);
    border: 1px solid var(--grey_light, #C8CAC8);
    margin: 0;
    padding: 5.81px 10.55px;
}

.product-card__price {
    color: var(--Black_text, #0f100f);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

*/

@media screen and (max-width: 767px) {
    .product-card-list {
        width: 328px;
        height: 370px;
    }
    
    .product-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--White_bg, #f8f8f8);
        border-bottom: 1px solid var(--grey_light, #c8cac8);
        flex-wrap: wrap;
        padding: 24px 0 16px 0;
    }
    
    .product-card__text-container {
        margin: 0 10px 0 16px;
    }
    
    .product-card__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        max-width: 180px;
    }
    
    .product-card__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .product-card__count-container {
        display: flex;
        align-items: center;
        height: 34px;
        gap: 13px;
        margin: 0;
        margin-left: auto;
    }
    
    .product-card__img {
        width: 100px;
        height: 100px;
    }

    .product-card__count {
        border-radius: var(--Border-Radius-rounded-none, 0px);
        border: 1px solid var(--grey_light, #C8CAC8);
        margin: 0;
        padding: 5.81px 10.55px;
    }
    
    .product-card__price {
        color: var(--Black_text, #0f100f);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 13.5px 0 0 0;
    }
}
