.payment {
  width: 100%;
  margin: 0 auto;
  background: var(--White_bg, #f8f8f8);
  padding: 48px 0 120px 0;
}

.payment__container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 80px;
}

.payment__title {
  color: var(--Black_text, #0f100f);
  font-family: Spectral;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 24px 0;
}

.payment__text {
  color: var(--Black_text, #0f100f);
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .payment {
    padding: 32px 0 64px 0;
  }

  .payment__container {
    max-width: 320px;
    padding: 0 24px;
  }

  .payment__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    margin: 0 0 16px 0;
  }

  .payment__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    margin: 0;
  }
}
