.roast__block {
  position: relative;
  height: 626px;
}

.roast__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.2));
  pointer-events: none;
}

.roast__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.roast__block__container {
  display: flex;
  padding: 80px 80px 0 80px;
  z-index: 4;
  position: relative;
}

.roast__digit-title__container {
  display: flex;
}

.roast__digit {
  color: var(--White_text, #f6f6f6);
  margin: 0 48px 0 0;
  font-family: Spectral;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 134.615% */
}

.roast__title {
  color: var(--White_text, #f6f6f6);
  font-family: Spectral;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 134.615% */
  margin: 0;
}

.roast__text {
  color: var(--White_text, #f6f6f6);
  margin: 16px 0 40px 101px;
  max-width: 640px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.roast__link {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: var(--White_text, #f6f6f6);
  margin: 0 101px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .roast__block {
    position: relative;
    height: 624px;
  }

  .roast__img {
    object-fit:cover;
  }

  .roast__block__container {
    padding: 40px 16px;
  }

  .roast__digit {
    margin: 0 24px 0 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
  }

  .roast__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
  }

  .roast__text {
    margin: 16px 0 40px 57px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
  }

  .roast__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    margin: 0 57px;
  }
}
