.page {
	width: 100%;
	margin: 0 auto;
	background: #f8f8f8;
}

.container {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 48px 0 120px 0;
}

.title {
	color: var(--Black_text, #0f100f);
	font-family: Ubuntu;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	margin: 0 0 20px 0;
}

.subtitle {
	color: var(--Black_text, #0f100f);
	font-family: Ubuntu;
	font-size: 27px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 10px 0 0 0;
}

.text {
	color: var(--Black_text, #0f100f);
	font-family: Ubuntu;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}

.list {
	list-style-type: disc;
	font-size: 18px;
}

.link {
	color: #0070f3;
}
