.input__wrapper {
    display: flex;
    flex-direction: column;
	position: relative;
}

.input__hints {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* .input__label {
    font-size: 16px;
    line-height: 18px;
} */

.input__label_color_white {
    color: #ffffff;
}

.input__label {
    color: var(--Black-600, #7e7e7e);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.154px;
    margin: 0 0 8px 0;
  }
  
  .input__field {
    color: var(--grey_light, #0F100F);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: var(--Border-Radius-rounded-none, 0px);
    border-bottom: 1px solid var(--Black_text, #0f100f);
    margin: 0;
    padding: 0 0 12px 0;
  }
  
  .input__field::placeholder {
    color: var(--placeholder-color, #a0a0a0);
    text-indent: 12px; 
  }

.input__error {
    color: #ea4335;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    display: inline-block;
    /* height: 100%; */
    margin: 0 0 8px 0;
}

/* .input__field {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0.5px solid #9ca3af;
} */

.input__field:focus {
    outline: none;
    /* border: 0.5px solid #0c0c0c; */
}

.input__field:read-only:focus {
    outline: none;
}

.input__field_color_black {
    background-color: #0c0c0c;
    color: #9ca3af;
    /* border: 0.5px solid #9ca3af; */
}

.input__field_color_black:focus {
    color: #fff;
    outline: none;
    /* border: 0.5px solid #9ca3af; */
}

.input__field_color_black:invalid {
    color: #ea4335;
    /* border: 0.5px solid #ea4335; */
}

.input__field_invalid {
    color: #ea4335;
    border-bottom: 0.5px solid #ea4335;
}

/* .input__field_invalid:focus {
    border: 0.5px solid #ea4335;
} */

.input__span {
    color: #9ca3af;
    font-size: 14px;
    line-height: 18px;
}

.input__button {
    background-image: url(../../images/eye.svg);
    position: absolute;
    top: 27px;
    right: 15px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity 0.2s;
}

.input__button:hover {
    opacity: 0.6;
}

.input__field_type_date {
    text-transform: uppercase;
}