.order-block {
  width: 413px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: var(--Border-Radius-rounded-none, 0px);
  background: var(--White_bg, #f8f8f8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 30px 48px 30px;
}

.order-block__title {
  color: var(--Black_text, #0f100f);
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin: 0 0 40px 30px; */
  /* margin-right: auto; */
}

.order-block__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-block__text {
  color: var(--Black_text, #0f100f);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0;
}

.order-block__sale {
  color: var(--Black_text, #0f100f);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: left;
}

.order-block__total {
  color: var(--Black_text, #0f100f);
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.order-block__input_container {
  display: grid;
  grid-template-columns: 360px 27px;
  grid-gap: 24px;
  align-items: center;
  margin: 32px 0 0 0;
}

.order-block__input {
  color: var(--grey_light, #c8cac8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
  padding: 10px 0 10px 12px;
  margin: 40px 0 0 0;
  width: 361px;
  background-color: transparent;
  border-radius: var(--Border-Radius-rounded-none, 0px);
  border-bottom: 1px solid var(--Black_text, #0f100f);
}

.order-block__button {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  padding: 0;
}

.order-block__pay-button {
  border-radius: 64px;
  background: var(--Accent, #465244);
  border: none;
  color: var(--White_text, #f6f6f6);
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 87%;
  height: 64px;
  margin: 40px 0 0 0;
}

.order-block__disclaimer {
  max-width: 100%;
  color: var(--grey, #797979);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 24px 0 24px 0;
}

.checkbox__order-block__container {
  display: flex;
  align-items: baseline;
}

.checkbox__order-block {
  width: 100%;
  display: flex;
  align-items: center;
}

.span__checkbox {
  color: var(--Black_text, #0f100f);
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 55px 0 16px;
  cursor: pointer;
}

.order__checkbox-button[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  outline: none;
  appearance: none;
}

.order__checkbox-button[type="checkbox"]:hover {
  cursor: pointer;
}

.order__checkbox-pseudo-item {
  width: 22px;
  height: 22px;
  border: 1px solid #c8cac8;
  margin: 0;
  padding: 0;
  display: flex;
  cursor: pointer;
  text-align: center;
  background-image: none;
}

.order__checkbox-button[type="checkbox"]:checked
  + .order__checkbox-pseudo-item {
  background-image: url(../../images/Checkbox.svg);
  width: 24px;
  height: 24px;
  border: none;
}

.button_wrapper {
  width: 87%;
}
@media screen and (max-width: 767px) {
  .order-block {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0px;
    background: var(--White_bg, #f8f8f8);
    box-shadow: none;
    padding: 16px 0 48px 0;
    margin: 0 16px;
  }

  .order-block__title {
    color: var(--Black_text, #0f100f);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 40px 0;
  }

  .order-block__details {
    width: 328px;
    display: flex;
    justify-content: space-between;
  }

  .order-block__text {
    color: var(--Black_text, #0f100f);
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0;
  }

  .order-block__sale {
    color: var(--Black_text, #0f100f);
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  .order-block__total {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
  }

  .order-block__input_container {
    grid-template-columns: 277px 27px;
  }
  .order-block__input {
    color: var(--grey_light, #c8cac8);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    border: none;
    padding: 10px 0 10px 12px;
    margin: 40px 0 0 0;
    width: 361px;
    background-color: transparent;
    border-radius: var(--Border-Radius-rounded-none, 0px);
    border-bottom: 1px solid var(--Black_text, #0f100f);
  }

  .order-block__button {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    padding: 0;
  }

  .order-block__pay-button {
    border-radius: 64px;
    background: var(--Accent, #465244);
    border: none;
    color: var(--White_text, #f6f6f6);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 328px;
    height: 64px;
    margin: 40px 0 0 0;
  }

  .order-block__disclaimer {
    max-width: 87%;
    color: var(--grey, #797979);
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 24px 0 24px 0;
  }

  .checkbox__order-block__container {
    display: flex;
    align-items: baseline;
  }

  .checkbox__order-block {
    width: 328px;
    display: flex;
    align-items: center;
  }

  .span__checkbox {
    color: var(--Black_text, #0f100f);
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 16px;
    cursor: pointer;
  }

  .order__checkbox-button[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    outline: none;
    appearance: none;
  }

  .order__checkbox-button[type="checkbox"]:hover {
    cursor: pointer;
  }

  .order__checkbox-pseudo-item {
    width: 22px;
    height: 22px;
    border: 1px solid #c8cac8;
    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer;
    text-align: center;
    background-image: none;
  }

  .order__checkbox-button[type="checkbox"]:checked
    + .order__checkbox-pseudo-item {
    background-image: url(../../images/Checkbox.svg);
    width: 24px;
    height: 24px;
    border: none;
  }
}
